#site-footer {

  background-color: $primary-gray;

  article{
	text-align: center;

  }
  h6 {
	font-weight: bold;
	color: $primary-color;
	text-decoration: underline;
	font-size: 0.9rem;

  }
  ul {
	list-style-type: none;
	padding: 0;
	margin-left: 0;
	font-size: 0.9rem;
  }
}





// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}
