.tiles-container {
  margin-top: rem-calc(68);
  .panel {
    border: 0;
    background-color: $body-bg;
  }
}

.orbit-container {
  overflow: hidden;
  ul li {
    width: 100%;
    overflow: hidden;
  }
  img{
    width: 100%;
    max-width: 100%;
  }
}

.marketing-box {
  background-color: $primary-gray;
  padding: rem-calc(91) rem-calc(48) rem-calc(54) ;
  position: relative;
  height: 100%;
  &>div.pull-down{
    width: 100%;
    //border: 1px solid black;
    position: absolute;
    bottom: 1rem;
    left: 0;
  }

  .icon {
    position: absolute;
    top: rem-calc(-31);
    left: 50%;
    margin-left: rem-calc(-47);
    width: rem-calc(94);
    height: rem-calc(94);
    background-color: $primary-color;
    border-radius: 94px;
    display: table;
    i {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $white;
      font-size: rem-calc(58);
    }
  }

    a.action-link {
      font-weight: bold;
    }

}

